[2018-04-17 14:56] CharlyJazz opened #2 "Does it work with sinatra?"

[2018-04-17 16:48] tuwukee commented on #2
Yes, it works with Sinatra.
Added dummy app example with https://github.com/tuwukee/jwt_sessions/pull/4 and updated readme.

[2018-04-18 06:35] #2 closed

[2018-04-18 20:38] tuwukee opened #7 "Add ability to destroy all refresh tokens associated with a particular auth-resourse (aka user)"
Can be useful for the cases when user had reset his/her password and we'd like to sign out this user from all devices.

[2018-04-18 20:44] tuwukee opened #8 "README update"
Add access/refresh tokens concept description to the README.

[2018-04-26 06:00] #7 closed

[2018-06-12 11:42] tuwukee opened #18 "Add refresh token reference to access token payload"
For clients implementations without refresh-token it should be possible to optionally renew new access token with the previous expired access token.

[2018-06-15 12:03] #18 closed

[2018-06-21 14:46] tuwukee opened #23 "Add ability to flush the access token only"
Required for the cases when access payload contains user's data (role, permissions, etc) and this data was updated.

[2018-06-25 10:04] #23 closed

[2018-08-02 01:10] plcosta opened #28 "Work with Devise?"
Amazing work @tuwukee!

Is possible to use jwt_session with devise for authentication? If not, do you think about create some modules like devise?

Thanks for all your hard work! :muscle:

[2018-08-02 08:57] tuwukee commented on #28
Hey @plcosta, thank you!

The gem doesn't have integration with devise, still those 2 gems can be used together by which I mean devise can be used f.e. for rails server-rendered pages and jwt_sessions can be used for API in the same time.

I'll think about creation of a devise extension, but can't guarantee.

[2018-08-06 13:34] plcosta commented on #28
Thanks @tuwukee.

Maybe I can contribute on your project soon as possible.

[2018-08-06 13:38] tuwukee commented on #28
@plcosta sure, PRs are always welcome!

[2018-08-13 08:09] Serhiy-Nazarov opened #29 "concept working with headers"
jwt_sessions can take tokens from the header (method token_from_headers).
In your concept, does the server set headers for the FE? Does the FE have to get tokens from cookies and add it to the header?

[2018-08-13 17:28] tuwukee commented on #29
token_from_headers is just one part of the logic used by the authorization mixin.
What it tries to do is the next: it assumes that a token is either in a cookie or in a header (cookie and header names are configurable). So you're not limited on how to pass a token to the FE, the gem itself doesn't do anything with the tokens except for issuing them (when you log in or refresh), so its an end user'

[2018-08-16 01:36] tiagocassio opened #30 "Unable to pass redis password."
Hi,

How can i declare user password in order to access my redis server?

Thanks for this great gem!

[2018-08-16 08:55] tuwukee commented on #30
Hi @tiagocassio,

you can specify the password within the redis url, f.e.

[code]

If you need to define the specific db name as well then
[code]

[2018-08-16 18:27] tiagocassio commented on #30
Thanks for help!

[2018-08-16 18:27] #30 closed

[2018-08-18 18:51] steveclarke opened #31 "error in logout - "access token payload does not contain refresh uid""
I'm trying to follow the guidance re: logout. My logout method consists of:

[code]

When I attempt to logout I get the following error:

`JWTSessions::Errors::InvalidPayload: Access token payload does not contain refresh uid`

From this, I take it that I'm supposed to put the refresh token in my payload when the user signs in but I can't figure out how to get that in there, as the payload gets ge

[2018-08-19 13:06] tuwukee commented on #31
Hi @steveclarke,

There's a setting `refresh_by_access_allowed` https://github.com/tuwukee/jwt_sessions#refresh-with-access-token
Now looking at it - it wasn't the best name for this setting. In short, it automatically injects refresh UID into access token, and allows to perform `flush_by_access_payload`. You should use it on creation of the access token.

[2018-08-19 13:49] #8 closed

[2018-08-22 21:36] steveclarke commented on #31
Ok thanks for the tip. I followed your first blog post re: Vue Todo list and got it all working.

[2018-08-22 21:36] #31 closed

[2018-08-25 00:36] krsyoung opened #33 "How to set refresh access payload based on expired access payload"
Hello, first thanks for making the great library @tuwukee!

I am using the library with Rails but struggling with the refresh implementation.

My problem is that my original authentication `payload` includes a `user_id` (like the example in the README), however, in my refresh method I can't figure out how to access the `user_id`, so I can set it again in the new payload.

Based on the example in t

[2018-08-25 09:11] tuwukee commented on #33
Hi @krsyoung,

1. Yes, in the context of `RefreshController` `found_token` is  the refresh token.
2. Access and refresh are separate tokens with separate payloads.
You'll have to put `user_id` in the payload of the refresh token to be able to reconstruct a payload of a  new access token during refresh.
[code]
In this way both refresh and access will have `user_id` in the payload, but access additi

[2018-08-25 13:42] krsyoung commented on #33
Excellent, thanks you so much @tuwukee, works perfectly.

For some reason I was thinking it might be bad security practice to put the `user_id` in the refresh payload ... but I also think I had been writing too much code in one day :-)

[2018-08-25 20:11] krsyoung commented on #33
Ok, I thought I had this working but I seem to never receive get the `user_id` in the refresh payload.   Basically:

1. original authentication is done
2. access token expires
3. refresh is called, the payload has `user_id` at this point (from the refresh token from the original authentication)
4. `session.refresh(found_token)` is called and returned to the client
5. access token expires
6. refres

[2018-08-25 21:01] tuwukee commented on #33
Yeah, looks like a bug. Thanks for the head ups, I will look into that.
Generally speaking, refresh token should stay the same during the session, so you can permanently use the one that you received on login, so there is no need to anyhow use the refresh token returned from the `refresh` call and it's rather the gem's design flaw to actually return it.

[2018-08-28 18:02] krsyoung commented on #33
Thanks for releasing 2.2.1 @tuwukee ❤️

[2018-10-02 20:33] tuwukee opened #35 "Refresh by access token - additional validations"
The gem should check that access token UID matches with refresh token's access UID within `refresh_by_access_payload` method.

[2018-10-03 08:44] tuwukee opened #36 "Flush session by access payload"
The method should also fetch and update all related refresh tokens in order to keep refresh-by-expired-token flow valid.

[2018-10-05 17:07] palkan commented on #28
Hey @plcosta!

I've extracted an example integration of `jwt_sessions` + `devise`: https://gist.github.com/palkan/e00b12651444cf616b31310a211d2cc3

Hope that helps)

[2018-10-08 10:58] #35 closed

[2018-10-08 10:59] #36 closed

[2018-12-13 20:20] plcosta commented on #28
Thanks a lot, @palkan! Sorry about delay.

I decide to gave up using Devise. Instead currently it's all under control with jwt_sessions.

[2018-12-27 04:20] andrewdang opened #46 "check authentication status?"
what's the advised way to check if a user is authenticated? I'm trying to set up private routes for react router and thought maybe just adding an endpoint that checks if `current_user` is present would work but I end up getting a 401 because of the jwt_sessions module added to application controller

Also if I plan on having routes that don't require authentication, how would I bypass it? My only

[2018-12-27 04:36] andrewdang17 commented on #46
or better question is how do I bypass the authorization check?

[2018-12-27 09:02] tuwukee commented on #46
Auth itself is triggered by before action `authorize_access_request!` (or by `authorize_refresh_request!` if it's a refresh action).

To skip it for specific actions you can use it as

[code]

[2019-01-13 09:12] bestwebua opened #48 "Independent configuration for different environments"
Hi, Yulia! Thank you so much for your awesome work :+1::+1::+1:  Is there a way to use independent jwt_sessions configuration for different environments. It would be nice to use for development/production env:
[code]
and for test env:
[code]
Cheers!

[2019-01-14 10:13] tuwukee commented on #48
hi @bestwebua, thank you :)

If you're using the gem with Rails you can define the settings in the next way:

[code]

and

[code]

Or if you'd like to define it in a single place

[code]

[2019-01-14 10:13] #46 closed

[2019-01-14 19:44] bestwebua commented on #48
It works like a charm! Thank you, @tuwukee !

[2019-01-14 19:44] #48 closed

[2019-02-16 04:35] moralesbang opened #50 "Documentation difficult to understand"
Hi @tuwukee!

I like you work on this gem, it's really useful. I have been spending a lot time learning about jwt_sessions gem and all concepts wrapped in. As an experienced rookie with Rails and web development, I feel a bit frustrated reading the docs. I'd be very gratefull if you include more examples in order to explain the functioning of some callbacks and functions. I would like feel guided

[2019-02-16 07:13] tuwukee commented on #50
Hi @moralesbang,

Thanks for your feedback.
Can you please tell exactly which parts of the documentation are not clear and which functions need a more detailed explanation?

Meanwhile, you can find usage examples here:
[Rails API Example](https://github.com/tuwukee/jwt_sessions/tree/master/test/support/dummy_api)
[Sinatra API Example](https://github.com/tuwukee/jwt_sessions/tree/master/test/suppor

[2019-02-16 17:58] moralesbang commented on #50
I didn't know about these articles. I'm gonna read those to fill the gaps. However, for now I have a real suggestion. You can refactor the specification about new session options writing something like this:

- refresh_payload: Allows you ... For example when you have ... it's useful for ...
- refresh_by_access_allowed: [Description...]
- etc.

Thanks so much :grinning: !

[2019-02-18 20:12] Serhiy-Nazarov opened #51 "Guest session"
Are planned to implement guest sessions?
For example, how I can implement 2FA? At this moment a new session creating on each request.
Thanks.

[2019-02-19 18:46] tuwukee commented on #50
Yeah, session options indeed need a better description. I’m going to work on it. Thanks!

[2019-02-19 18:58] tuwukee commented on #51
A new session shouldn’t be created on each new request.
The most common scenario:
1. A session is created on sign in.
2. The created session is retrieved with”h each request by access token.
3. Once the access token is expired, then a user should get a new one by refresh token.
4. Once refresh token is expired, then the session is considered expired as well, and the user must sign in again.

What

[2019-02-19 19:11] Serhiy-Nazarov commented on #51
I understand your point.
But I need to have a session before the user is signed. As the example, I need to have 2 steps authorize process. So, before the second step user still not authorize, but already have the session.
I can't find any hook to create the session for the unauthorized user.

[2019-02-20 05:52] tuwukee commented on #51
I think you can use a separate namespace for such sessions or use a special parameter within the session’s payload.

[2019-02-20 06:27] Serhiy-Nazarov commented on #51
My question not about payload.
Gem doesn't have any callback/hook for creating the session if it doesn't exist.
It's should be happening before `authorize_access_request!`
I try to do it in the controller, but gem doesn't have any methods for checking is a session will be created in `authorize_access_request!`
So, I can't understand how I can do it without gem improvement :(

[2019-02-20 19:19] tuwukee commented on #51
Ok, I think I understand what’s the problem here. It makes sense to improve the gem with extended before actions behavior.
My suggestion is next:
1. 2FA will require different sessions for each auth step.
2. Sessions can be distinguished by namespaces.
3. Within “authorize_access_request” (and others) it should be possible to search the sessions by their namespaces.

What do you think? Would it he

[2019-02-20 22:31] Serhiy-Nazarov commented on #51
1. No. We need to forward data between steps. So it's should be the same session.
2. Each anonymous user should have own session. I don't understand how do you want to distinguish by namespaces. (maybe I don't understand all concept with namespaces.)

2FA - it's one of the cases. But it can be different.
As an example - e-commerce landing. Anonymous adds the products to the cart. We want to have a

[2019-02-21 06:08] tuwukee commented on #51
1. All the data from the guest session payload can be copied to the next one on the second 2fa step.
2. Each session has its own UUID, namespaces can distinguish the “guest” sessions from all others, so the users with such sessions won’t be able to access protected endpoints.
Thoughts?

[2019-02-21 09:52] Serhiy-Nazarov commented on #51
I think we need to split the **authentication** and **authorization** processes.
Authentication should check the token and create a session. If the token doesn't exist we need to create a session and create token with special field `anonymous`. Authentication should not check any access levels.
Authorization should check access level. In the current implementation, you check only is a user logged

[2019-02-21 20:27] tuwukee commented on #51
Methods are named correctly.
Authentication is the process of identifying a user.
In our case a request is getting authorized by token. The token payload may not contain any data about user.

[2019-02-21 21:17] Serhiy-Nazarov commented on #51
I agree. But each anonymous user should be identified too.

[2019-02-24 11:15] tuwukee commented on #51
@Serhiy-Nazarov
I thought again about 2FA sessions, and it seems it can be implemented using JWT claims and namespaces only (the same approach can be used for guest sessions as well).

Let's say you have 3 controllers: `SessionsController`, `SessionVerfificationsController`, and `ResourcesController`.
Then within 1st auth step will create a session with `sub` claim.
[code]
The second auth step:

[

[2019-02-24 11:57] tuwukee commented on #50
Hey @moralesbang,
I added a few updates to README, please take a look and let me know if it helps, thanks!

[2019-02-25 08:10] Serhiy-Nazarov commented on #51
I like this solution! Thanks!

[2019-02-25 08:19] Serhiy-Nazarov opened #53 "Rack Authentication"
How I can check user in middleware? As an example, ActionCable wants to have authentication on the middleware level. Maybe it makes sense to move auth logic to middleware. Maybe use warden for it.
@tuwukee, what flow do you see for this issue?

[2019-02-25 08:27] #51 closed

[2019-02-25 08:43] tuwukee commented on #53
To be honest, I didn't check it myself, but you can try the next flow:

You can include `JWTSessions::RailsAuthorization` directly into the middleware and then call `authorize_access_request!` manually.

Please let me know if this approach won't work for you.

[2019-02-25 10:45] Serhiy-Nazarov commented on #53
@tuwukee , I checked your proposition.
Yep, I can include `authorize_access_request!` inside middleware. Any request should be authorized.
I don't find any mechanism to allow the not authorized request. On the middleware level, I can't skip `authorize_access_request!` for some requests.

So, at this moment I don't see how I can include it in the middleware without splitting the **authentication**

[2019-02-25 11:25] tuwukee commented on #53
Why you can't skip it?
You can apply any custom logic, f.e.
[code]

[2019-02-25 13:38] Serhiy-Nazarov commented on #53
@tuwukee I understood your point.
But I need to skip some actions. On middleware level, I don't have any actions. So I have two options:
1. According to your example, send the array of routes and use it for the condition. It's complicated for setup, but can be implemented without any improvements.
2. Split process to **authentication** and **authorization**. In the middleware retrieve token and se

[2019-02-25 13:59] tuwukee commented on #53
1. You can either hardcode the routes within the middleware, or use the middleware within the mounted rails engine on a specific route https://edgeapi.rubyonrails.org/classes/Rails/Engine.html#class-Rails::Engine-label-Mount+priority
2. Seems like you're misinterpreting the meaning of **authentication** and **authorization**. In the described scenario the request will be **authorized** within the

[2019-02-25 14:12] Serhiy-Nazarov commented on #53
1. It's understandable for me, but it's a useless way )) It's the same way as [rack-jwt](https://github.com/eparreno/rack-jwt)
2.
On middleware, we need to retrieve and decode the token request. Also on this step, we need to set env[:access_token_payload]
After that, we can use this env in the app or other middlewares. It's the same as warden working.

P.S. Yep, I agree, naming for splitting not c

[2019-02-25 14:15] tuwukee commented on #53
The second scenario can be implemented as it is, I can't get which changes you're proposing to make to the gem.

[2019-02-25 14:39] Serhiy-Nazarov commented on #53
`
def call(env)
  self.request = ActionDispatch::Request.new env
  begin
    authorize_access_request!
      env[:access_token_payload] = payload
  rescue JWTSessions::Errors::Unauthorized => e
    env[:access_token_exception] = e
  end
  @app.call(env)
end
`
After that I can create `before_action`...

@tuwukee Many thanks.
Great work!

[2019-02-25 14:41] #53 closed

[2019-02-25 21:46] Serhiy-Nazarov opened #54 "How I can store data to the session and retrieve data from the session?"
Session is created.
[code]
How I can save data to the session and retrieve data from it?
something like this:
[code]

[2019-02-26 09:26] tuwukee commented on #54
A payload is built in into tokens. To update a payload you'll need to re-generate a token. You can do it via refresh action (see refresh here https://github.com/tuwukee/jwt_sessions#rails-integration) or via creating a new session.

[2019-02-26 09:56] Serhiy-Nazarov commented on #54
it is clear. But my question about store data in the session.
I don't want store data into the token payload. I want to store data into session for passing between requests.

[2019-02-26 11:23] tuwukee commented on #54
"To store data into session" literally means to store data into tokens. The session is a pair of tokens: access and refresh.

The session data is stored on a client within a json web token (the same way session data stored in classic rails sessions via cookies).

Generally speaking, it's possible to allow to store a part of session data in a backend store. But not sure if this feature is really ne

[2019-02-26 12:30] Serhiy-Nazarov commented on #54
For example, 2FA should store the security code for the second step. It's not a good idea to store it into the client.

[2019-02-27 10:16] Serhiy-Nazarov commented on #54
@tuwukee do you have any idea how I can store a part of session data in a backend store?
I try to research code... I can't find any options for it

[2019-02-27 10:55] tuwukee commented on #54
Currently there's no such option.
But you can store the data directly in redis by token UUID as a key.

[2019-04-14 18:12] #50 closed

[2019-04-17 09:44] polykoi opened #55 "Allow to set expiration on Session level"
It would be more convenient to have ability to pass expiration times to `JWTSessions::Session.new` to override global settings, for cases like "Remember me" functionality, etc.

[2019-04-24 07:40] tuwukee commented on #55
hi @polykoi, yep that sounds like a good idea.
I'll prepare an update within the next week.

[2019-04-25 08:47] HLFH opened #56 "Mongoid support"
Hi,

Can it support Mongoid?

Thanks!

[2019-04-29 14:04] tuwukee commented on #56
Hi @HLFH,

Currently it doesn't support Mongoid.
Yet it's possible to implement an adapter for it, you can see examples here https://github.com/tuwukee/jwt_sessions/tree/master/lib/jwt_sessions/store_adapters
Feel free to open a PR with implementation if you're up for it.

[2019-05-01 12:48] #55 closed

[2019-05-07 17:29] #54 closed

[2019-06-24 09:56] ndan opened #59 "Access payload without authorize_access_request!"
Is there a way to get current_user (payload) without calling `authorize_access_request!`

[2019-06-24 10:38] tuwukee commented on #59
There's no handy dedicated method at the moment, but yet that's possible to get the payload from unauthorized token via
[code]

[2019-06-24 12:24] ndan commented on #59
It seems I should also check `JWTSessions::Session.new.session_exists?(token, :access)`
[code]

[2019-06-24 15:49] tuwukee commented on #59
Yep, if that's your intention.
But keep in mind that it's insecure, the token might be outdated, re-used by malicious users, etc, etc.

[2019-06-25 07:26] #59 closed

[2019-07-02 00:07] gheorghitahurmuz opened #60 "Integration problems"
Hi, I try to implement an authentication method to an api for mobile app, but I receive two errors:

1. For simple operations, I receive 500 error even if the result is correct. For instance:
[code]
 I receive
[code]
And logs from rails:
[code]

2. When I try to log out (flush current session), the payload is nil:

[code]

Receive:
[code]

My ApplicationController:
[code]

[2019-07-02 00:43] #60 closed

[2019-07-28 04:48] Rheisen opened #61 "Session .flush_all method appears to flush one at a time"
Rails 6.0.0.rc1, Ruby 2.6.3

Initializer
[code]

I created a bunch of sessions for one "user" and tried to flush them all with the rails console - got this output:

[code]

Looks like there may be an issue with flushing multiple tokens?

[2019-07-29 16:47] tuwukee commented on #61
Thanks for the heads-up.

[2019-07-29 17:57] Rheisen commented on #61
Least I could do - I'm a big fan of this library. Has everything I was looking for with JWT authentication :) and the library is very readable

[2019-07-31 10:20] tuwukee commented on #61
Should be fixed in the latest gem version. Please let me know if the issue persists

[2019-07-31 10:20] #61 closed

[2019-08-01 18:54] dsound-zz opened #64 "Nil JSON web token"
No matter what request comes from my frontend (VueJS), I always get `JWTSessions::Errors::Unauthorized (Nil JSON web token):` in Rails. I have made sure to follow everything to the tee from this Readme and tutorials.

[2019-08-02 08:47] tuwukee commented on #64
hey @dsound-zz,
It's hard to tell what's wrong based on the given details.
I guess it's either because of a token not being sent with the request, or your request headers (or cookies) names do not match the ones specified in the config. https://github.com/tuwukee/jwt_sessions#request-headers-and-cookies-names

[2019-08-12 15:08] #64 closed

[2019-09-07 00:25] ntaylor89 opened #65 "Front end consumer questions / Front-End Example"
Hi there!

I'm trying to implement this gem in a rails API with a Next.js driven front end. I believe I have a backend implementation working, with endpoints to login, refresh, and flush.

But I have some  questions about the expected behavior on the front end. I'm trying to make a robust session that can share tabs, and persist after all tabs / browser is closed.

**The Problem**
The wisdom I see

[2019-09-07 20:27] tuwukee commented on #65
Hi @ntaylor89,

Yep, I have a few articles explaining the idea.

https://medium.com/@yuliaoletskaya/can-jwt-be-used-for-sessions-4164d124fe23
https://blog.usejournal.com/rails-api-jwt-auth-vuejs-spa-eb4cf740a3ae

And also here's a sample app:
https://github.com/tuwukee/silver-octo-invention

Hope that helps.

[2019-09-11 20:12] ntaylor89 commented on #65
Thanks that does help.  That main problem I have now, which is unrelated to your repo, is that when deploying to Next.js, I have no way of being able to make requests on both SSR (done on the server) and in the browser, since the httpOnly cookie is only seen by the browser that gets the request back.

That's not a problem with this lib though, so I'll go ahead and close this issue. Thanks for the

[2019-09-11 20:12] #65 closed

[2019-09-12 13:46] polykoi opened #66 "Refresh token with namespace"
ruby 2.6.3p62
jwt_sessions (2.4.2)
rails (6.0.0)

Hi, i'm facing `JWTSessions::Errors::Unauthorized` exception when trying to refresh namespaced session. I use namespace to be able to destroy all user's session, so my namespace looks like `user-{user_id}`.
Here's my code for session creation:
[code]

Code in controller:
[code]

The exception comes from `authorize_refresh_request!` method. I traced

[2019-09-13 12:49] polykoi commented on #66
Upgraded, everything is working now, thank you so much.

[2019-09-13 12:49] #66 closed

[2019-09-16 15:12] Rheisen opened #68 "Session Namespaces & Refreshing"
I noticed that when I added a namespace to the sessions I was creating a few things broke in my app regarding session refreshing and session deleting/flushing.

E.g. creation of a session changed to include the namespace attribute:
[code]

And After this change to include the namespace I started getting unauthorized request errors when refreshing and deleting sessions in my tests.

I tried adding

[2019-09-16 21:19] tuwukee commented on #68
hi @Rheisen,
are you using 2.4.3 gem version?
If no, please upgrade and try to run your code snippets again.

[2019-09-17 07:27] Rheisen commented on #68
Yes I have upgraded to the latest gem version and I still experience this. My refresh action looks like this:

[code]

I think it is breaking around the session.refresh(found_token) line.

[2019-09-17 07:43] #68 closed

[2019-09-24 03:53] veeral-patel opened #69 "Storing sessions in DB instead of in Redis"
Thank you for this gem! I'm interested in using this gem for authentication for my Rails app, but I'm hesitant to add another dependency (Redis) if not needed. To my knowledge, using the memory-backed adapter in production isn't recommended.

Is there any support for using a database like Postgres instead for storing session data? AFAIK this is what most web frameworks do. Any reason for not suppo

[2019-09-25 14:26] tuwukee commented on #69
Hi @veeral-patel,

Currently the gem supports only Redis and in-memory stores.
Yet it's possible to implement an adapter for a custom DB (f.e. postgres), you can see examples here https://github.com/tuwukee/jwt_sessions/tree/master/lib/jwt_sessions/store_adapters
Feel free to open a PR with implementation if you're up for it.

[2019-09-25 16:12] veeral-patel commented on #69
Thank you @tuwukee!

[2019-09-25 16:12] #69 closed

[2019-10-07 17:10] KosenkoDmitriy opened #70 "Logout returning 401 Unauthorized (Rails 6.0.0)"
Hello Yulia.
Thank you very much for this great work.
All is working fine (rails 5.2), but in rails 6.0.0 I have 401/Unauthorized error when trying to logout (destroy session in SigninController) and/or refresh token.
I tried to use auth headers instead of cookies, upgrade dummy_app of this awesome gem to rails 6.0.0 - all tests are green, but logout issue still exists. Could you please help me wi

[2019-10-07 21:07] tuwukee commented on #70
Hey Dmitriy,

I added a few more specs for logout and it works fine at least from the Authorization side of things for Rails 6.0 https://github.com/tuwukee/jwt_sessions/pull/71

I'd suggest to look into:
1. Request headers. Check that the request headers contain tokens and their names match the ones defined in the gem's settings (`JWTSessions.access_header`, `JWTSessions.refresh_header`, `JWTSessi

[2019-10-08 10:28] KosenkoDmitriy commented on #70
Hi Yulia.
Thank you so much for your help. I really appreciate it.
Yes, you are right - it works fine with rails 6.
When I use jwt_session v 2.1.0 - logout feature works, but in 2.4.3 it doesn't work. The same issue I have found in this repository https://github.com/tuwukee/silver-octo-invention and prepared a fix for it.
Thanks again.

[2019-10-08 10:28] #70 closed

[2019-10-26 04:55] Mattensor commented on #64
Hey @tuwukee thanks for the amazing jwt gem :)

I have opted for the cookie based token approach the same as @dsound-zz , I had the same error `JWTSessions::Errors::Unauthorized (Nil JSON web token)` - the request headers were the following

[code]

I compared the access tokens in my console and they matched, digging further into the gem I noticed the cookieless_auth method did not raise an except

[2019-10-26 05:00] Mattensor opened #72 "cookieless_auth("Authorization") returns "undefined""
Hey @tuwukee thanks for the amazing jwt gem :)

I have opted for the cookie based token approach, I get the following error when the authorize_access_request! method is executed, JWTSessions::Errors::Unauthorized (Nil JSON web token).

The request headers were the following
[code]

I compared the access tokens in my console and they matched, digging further into the gem I noticed the cookieless_au

[2019-10-26 05:15] Mattensor commented on #72
🤦 spent too long fixing this, was my fault I was passing Authorization in the headers & it was undefined

[2019-10-26 05:15] #72 closed

[2019-11-30 10:13] askareija opened #73 "Exception: undefined method `[]' for true:TrueClass"
I've follow your guide in `RefreshController` using cookie below:

[code]

but after i try debugging it the result is error:
`*** NoMethodError Exception: undefined method `[]' for true:TrueClass`

which is referenced to `tokens[:access]` in `response.set_cookie(...`

[2019-11-30 10:29] askareija commented on #73
i've changed it to `refresh_by_access_payload` and it's always return `Not Authorized`

[2019-11-30 10:30] askareija commented on #73
after remove the `do` statement it's working fine now. But i don't understand for what or what purpose for that `do` statement is.

[2019-11-30 10:30] #73 closed

[2019-11-30 14:41] tuwukee commented on #73
thx for letting me know, I'll add more details to README about the block purpose.

[2019-12-28 18:10] romikoops commented on #31
I believe there is still a bug in the Rails example. As a newcomer I was confused with the example, where access token is created without refresh_by_access_allowed, but destroy requires it.

Here is a test case:
[code]
Actually based on thread and controller tests, we have to add additional endpoint where we will do login with POST /login but with different implementation (refresh_by_access_allowe

[2020-01-09 06:45] askareija opened #74 "Managing multiple sessions"
let's say that i have multiple client frontend (web & android), and i want to manage my session (when, what devices that logged in to this account) like picture below (picture from mega site)

![image](https://user-images.githubusercontent.com/21377617/72044045-60229480-32e5-11ea-9c88-d83900b0cbd0.png)

is it possible to manage my sessions?
and probably called it using `current_user.sessions` or s

[2020-01-09 11:02] tuwukee commented on #74
Hey, it's possible to create sessions with namespaces
https://github.com/tuwukee/jwt_sessions#sessions-namespace
Ans there's a possibility to fetch all refresh-tokens within a namespace via
[code]

[2020-01-09 15:03] askareija commented on #74
ahh i see, thank you for the reply & information, i'll try this 😃.

[2020-01-09 15:03] #74 closed

[2020-01-27 15:55] RomanUkraine commented on #70
@KosenkoDmitriy, hello!
can you please share your fix with the community?

[2020-01-27 19:23] tuwukee commented on #70
hey @RomanUkraine,
I think Dmitry meant this fix https://github.com/tuwukee/silver-octo-invention/commit/3d00731e74efff3c4dbcc795580bc54e6f6b6471

[2020-02-03 10:48] romikoops opened #75 "Sharing CSRF token between 2 different sub-domains"
I am building own ERP system, where I have 3 independent Rails applications with own databases

**Core** (core.mydomain.com) - Rails + Admin app (based on RailsAdmin)+ Auth with JWT Sessions + React.js (list of applications, Sign In, Reset Password, User Profile)
**HR** (hr.mydomain.com)- Rails + React.js (list of Resumes)
**IT** (it.mydomain.com) - Rails + React.js (list of workstations)
I have i

[2020-02-03 20:05] romikoops commented on #75
@tuwukee Thank you for the help.

[2020-02-03 20:05] #75 closed

[2020-02-28 07:42] Sylor-huang opened #77 "How to get current_user when skip authorize_access_request!"
Hi, I used `Rails 6.0`.

Now I want to check is `current_user` present with skip `authorize_access_request!`,  but I always get the error `401 Unauthorized`.

[code]

[code]
Thanks so much!

[2020-02-28 09:58] tuwukee commented on #77
Hi @Sylor-huang ,
Try to use `claimless_payload ` method to fetch the data from the token.
More info can be found here https://github.com/tuwukee/jwt_sessions#getting-started under `Helper methods within Authorization mixin` header.

[2020-02-29 08:18] Sylor-huang commented on #77
Hi, @tuwukee thanks for your help, I had try to use `claimless_payload` , but it seems also do not work.
I don't quite understand the principle of cookies , I have been troubled with this problem for several days.  Could you tell me exactly what I should do ? Thanks so much.

 And I had puts some log:

[code]

The logs is :
[code]
Thanks again.

[2020-02-29 09:30] tuwukee commented on #77
Looks like it cannot decode the token. Please check what's inside the `found_token` method.
The content should be decodable by:
[code]

[2020-02-29 09:48] Sylor-huang commented on #77
Hi @tuwukee , if I not login , I get the `found_token` nil.

[code]
Puts logs:

[code]
But when I login, I can get the `found_token`:

[code]

And I set the `jwt_sessions.rb` as follows:

[code]

[2020-02-29 11:32] tuwukee commented on #77
Ahhh right, you've skipped the auth 😅
For this specific action you can do the next to get the payload.
[code]

[2020-02-29 11:50] Sylor-huang commented on #77
Hi @tuwukee , thanks very much. I can get the payload with your codes,  it solve the problem and I changed my `application_controllers.rb` as follows:

[code]
Got the logs
[code]

Thanks very much. @tuwukee

[2020-02-29 15:43] tuwukee commented on #77
Ok, just keep in mind, that it’s kind of hacky and I’m not sure why you’re skipping the auth if you have the token anyway.

[2020-03-01 13:01] Sylor-huang commented on #77
Hi, @tuwukee, I have a tag page that when user login, user can star the tag with star button, else do not show the star button, but can see the tag page. So I want to skipping the auth. Thanks again for your help.

[2020-03-04 13:51] #77 closed

[2020-04-18 11:13] doutatsu opened #81 "Add a changelog"
With the latest gem bump, I realised there was no changelog. It's a bit tough to go through commits, to understand exactly what changed. Especially if there are any deprecations and such. Would be really useful if we could get a dedicated changelog

[2020-04-18 12:02] bestwebua commented on #81
@doutatsu Here you can find release notes: https://github.com/tuwukee/jwt_sessions/releases Yup, add `CHANGELOG.md` at project root with all gem history releases would be useful.

[2020-04-18 13:19] doutatsu commented on #81
Hm, releases notes are also outdated. Should be `2.5.0` as the latest. But yes, changelog would be great. Would also make dependabot show it in projects, when gem gets a bump

[2020-04-19 11:22] HolyWalley opened #82 "Double exp in token payload"
Hi, first of all, thanks for your work!

I found a small issue, it's not significant, however, I decided to report it.

I found that in decoded version of access and refresh tokens `exp` key is doubled.

[code]

The reason is quite predictable, string vs symbol keys.

Here
https://github.com/tuwukee/jwt_sessions/blob/master/lib/jwt_sessions/token.rb#L34

`meta` is
[code]

but exp has been already

[2020-04-19 11:29] tuwukee commented on #81
Hey, thanks for the heads-up. I'll add a changelog.

[2020-04-19 11:33] tuwukee commented on #82
Hi @HolyWalley,
you're right,  `meta` should use string keys.
It'll be great if you can open a PR with fix.

[2020-04-20 07:36] #81 closed

[2020-04-20 07:37] #82 closed

[2020-06-25 23:52] tunkul opened #86 "cookie issue with multiple logins?"
Hi, I'm seeing a situation where I login a user in one browser window, and then login a 2nd user in a different browser window, the cookie token check fails. I think this is because there's just one cookie, and they end up sharing it, and thus when I try to do something with the 1st user after login in the 2nd user, the 1st user ends up with the 2nd user's cookie and things blow up.

Is this behav

[2020-07-04 11:36] Mayurifag opened #87 "[Ruby 2.7] New version ruby` warnings appeared"
I have newest ruby version and jwt_sessions 2.5.1

This is the console output related to gem appearing every time I execute my specs:
[code]

[2020-07-06 10:02] tuwukee commented on #86
@tunkul different browser windows still use the same cookie.
You should use an incognito mode or another browser to be logged as multiple users at once.

[2020-07-06 10:02] #87 closed

[2020-07-06 10:44] tuwukee commented on #87
Thx for the notice, should be fixed in 2.5.2 version.

[2020-07-09 20:40] #86 closed

[2020-07-09 20:55] tunkul commented on #86
Just to note, the way I solved it was to detect that the user is logged in. Ie, if he popped up a 2nd window, and tried to go the site, I'd detect that he's logged in, and present the logged-in view. This could only be done via the cookie of course. However the problem then became: how to get the csrf token for the new window? I couldn't figure out an easy way via the api, so i did this:
[code]

A

[2020-07-10 10:06] tuwukee commented on #86
Ah I see. I usually store CSRF token in local storage.
Your solution is ok, but to make it secure please make sure that it will extract CSRF tokens for the same-domain calls only.

[2020-07-11 04:47] Sylor-huang opened #89 "After logout user , I can also get the current_user in rails"
I got `current_user` by this methods:

[code]

Related issues: [How to get current_user when skip authorize_access_request!](https://github.com/tuwukee/jwt_sessions/issues/77)

But now, I have a problem to logout `current_user`:

[code]

Use this method，it seems `current_user` JWTSessions do not destroy, I can also get `current_user` in rails.

How should I to change the destroy method?

Thanks ve

[2020-07-11 18:46] tuwukee commented on #89
This method gets the current_user directly from the request cookies.
To "destroy" the `current_user` you should either remove the cookies from the request, or use regular auth methods, or manually make a lookup in the token store to check if such session exists (f.e. via `JWTSessions::Session.new.session_exists?(token)`).

[2020-07-12 02:13] Sylor-huang commented on #89
Thanks so much, @tuwukee , I will try it later

[2020-07-21 02:06] #89 closed

[2020-07-24 07:41] Geniekort opened #90 "Malconfigured error"
When trying to set up a new rails app with this JWTSessions, I get an unexpected `JWTSessions::Errors::Malconfigured` error:
```JWTSessions::Errors::Malconfigured (private_key is not specified)```

This is raised at `session.login` in my controller:
[code]

I first thought that maybe some algorithm like `rsa` was specified, but I want to use `SHA256`. Checking my `config/intializers/jwt_sessions.r

[2020-08-04 15:42] tuwukee commented on #90
hi @Geniekort, what gem version do you use?
Also it might be that `Rails.application.secrets.secret_key_base` is `nil`, please check if the value is in present.

[2020-10-17 18:37] #90 closed

[2020-11-03 05:04] gipsycloud opened #91 "I cann't test this login api with api tool. How to solve this problem?"
ActiveRecord::RecordNotFound in LoginController#create
Couldn't find User
user cann't found, testing with api tool.
user = User.find_by!(email: params[:email])

[2020-11-17 17:52] prem-prakash opened #92 "Sidekiq and Flipper authentication under jwt_sessions"
Hey @tuwukee

I am trying to make sidekiq and flipper to authenticate with jwt_sessions. I've built a middleware, that works nicely with GET requests, that do not check CSRF token.

But I have no idea how to proceed regarding CSRF token for POST, DELETE, etc http methods that check CSRF.

Is there a simple way to solve that? Or I would have to read CSRF token from the store and inject it in the re

[2020-11-17 18:29] tuwukee commented on #92
Hi @prem-prakash
The client code should add CSRF to the requests' headers.
More info is here: https://github.com/tuwukee/jwt_sessions#csrf-and-cookies
Sample client code: https://github.com/tuwukee/silver-octo-invention/blob/master/todos-vue/src/backend/axios/index.js#L22

[2020-11-17 18:34] tuwukee commented on #91
Don't have enough details to understand what the problem is.

[2020-11-17 18:34] #91 closed

[2020-11-17 19:09] prem-prakash commented on #92
@tuwukee yeah, of course, I know that.

But if I want to authenticate sidekiq web for example? Are you suggesting I have to fork sidekiq and add a CSRF token to each one of the POST/PUT/DELETE requests? It is not a viable option for me, unfortunately.

I ended up with this "solution":

[code]

[code]

[2020-11-17 19:09] #92 closed

[2020-11-20 17:36] gipsycloud commented on #91
I used jwt_session gem in signin_controller, `user = User.find_by!(email: params[:email]) `, and then I tested user auth with api tool for this controller. It's shown about this error [.](https://github.com/tuwukee/jwt_sessions/issues/91#issue-735019456). Error message is `Completed 404 Not Found in 104ms (Views: 0.5ms | ActiveRecord: 66.0ms)` in terminal. But I test again with this code `user = U

[2020-11-29 17:56] duffn opened #93 "build_access_payload_based_on_refresh method does not exist"
In the README, there is an example for a refresh endpoint like this:

[code]

`build_access_payload_based_on_refresh` does not exist in the codebase. https://github.com/tuwukee/jwt_sessions/search?q=build_access_payload_based_on_refresh&type=code

I can update, but should the refresh endpoint look something like this instead?

[code]

[2020-12-07 15:08] tuwukee commented on #93
hi @duffn,

 `build_access_payload_based_on_refresh` is just a sample method name, it simply implies a user-method building a new payload for the access token.

[2020-12-07 15:10] duffn commented on #93
Thanks for the clarification! That confused me.

[2020-12-07 15:10] #93 closed

[2020-12-17 12:22] activeliang opened #94 "Returns 401 when concurrent"
When access expires, if the user clicks quickly on the web page and triggers two requests at the same time, in this case, the new access can be refresh normally, but when the new access is used to request resources, it returns 401

I wrote a demo project to solve this problem：[https://github.com/activeliang/try_jwt_session](https://github.com/activeliang/try_jwt_session)

To simulate the above sit

[2020-12-17 19:31] tuwukee commented on #94
hi @activeliang

It's responsibility of a client code to prevent concurrent refresh requests.
Basically, the JS client should disable page refreshing while there's a pending refresh request, and enable it back afterwards.

[2020-12-31 10:57] gupta-abhishek opened #95 "authorize_refresh_request! doesn't populate user_id key in payload"
Hey
I've my refresh code as follows,

[code]

I'm passing a valid value `X-Refresh-Token` (eg: `X-Refresh-Token: "euidf.."`)  in header and still I see payload as null always. To me looks like an issue or I'm screwing up something.

p.s. I'm calling `refresh` before access token expiration. But I don't think, it should cause any issue.

[2021-05-02 13:48] doutatsu opened #97 "Heroku Redis TLS connection"
I've tried to upgrade my Redis instance on Heroku to Premium, which only uses secured URL, resulting in JWT Sessions not working anymore. In their documentation, they suggest removing the SSL check to make it work, like so:
[code]

How can I do the same for JWT sessions? My configuration is like this:
[code]

Perhaps something like this?
[code]

[2021-05-06 20:03] doutatsu commented on #97
Would really appreciate help with this, as I am blocked from being to upgrade due to this issue

[2021-05-07 08:55] tuwukee commented on #97
hi @doutatsu
I'll add support for this in a new gem version. Not sure yet when I'll have enough free time to do this. Meanwhile, as a workaround, you can override this in your code https://github.com/tuwukee/jwt_sessions/blob/1e47e1f9d61c8538cecaf09bb25bb8c12aca3b52/lib/jwt_sessions/store_adapters/redis_store_adapter.rb#L94

[2021-05-17 21:28] batusai513 opened #98 "Unsuported algorithm when using ruby-jwt 2.2.3"
after updating to ruby-jwt 2.2.3 and using the following configuration:
[code]
 I'm getting the following error:
[code]

which is weird because the the ruby-jwt was only a patch change from `2.2.1`

[2021-05-28 09:11] bibendi opened #100 "Replace Redis KEYS with SCAN"
Hi!

The [Redis `keys`](https://redis.io/commands/keys) should not be used in a production environment, because of pure performance.
The [`scan` command](https://redis.io/commands/scan) has better complexity.

https://github.com/tuwukee/jwt_sessions/blob/63deaa2f4659457e9368ca284df12e9c03443e42/lib/jwt_sessions/store_adapters/redis_store_adapter.rb#L65

[2021-05-28 10:16] bibendi commented on #100
But for better performance, there should be a separate list for each namespace.

[2021-06-01 10:17] tuwukee commented on #100
Hi @bibendi ,

thanks, looks good to me!

[2021-06-01 10:27] #98 closed

[2021-06-01 12:53] batusai513 commented on #98
🤟🏼

[2021-06-01 14:17] #100 closed

[2021-06-01 14:22] tuwukee commented on #97
hi @doutatsu

the support for `ssl_params` has been added in 2.6.0 gem version.
It should work with the proposed notation:

[code]

[2021-06-01 14:22] #97 closed

[2021-06-01 14:24] doutatsu commented on #97
Fantastic, thanks @tuwukee

[2021-06-01 15:15] bibendi commented on #100
Thank you!

[2021-07-13 19:27] tuwukee commented on #90
@im-not-a-robot starting from rails 5.2 `Rails.application.credentials` is preferable.
Please verify that `JWTSessions.encryption_key = <your key>` works correctly, and check that `JWTSessions.private_key` has `<your key>` value after `JWTSessions.encryption_key=` had been called.

[2021-08-16 08:00] masterkain commented on #94
just an idea: https://github.com/lynndylanhurley/devise_token_auth/search?q=batch_request_buffer_throttle

[2021-12-07 16:42] deniciocode opened #103 "Setting a cookie for a specific domain"
Can I provide a jwt token for a specific domain?
I would like to set a cookie after I was authenticated with a third party provider like google. Coming back from google I am not able to set the cookie correctly.

[2021-12-08 15:45] deniciocode opened #104 "Redis store ist not triggered"
I am trying to get an example for this gem and during the creation of the user I do not see any activity in the redis logs on my local machine.
The goal ist to make sure that the request from the front end with the `access` token is valid. But I always get an `JWTSessions::Errors::Unauthorized (Nil JSON web token)`. Now I am not sure if this caused because I am doing something wrong on the fronten

[2021-12-08 15:59] deniciocode commented on #104
But all sessions are stored. Maybe not an issue of this gem
![image](https://user-images.githubusercontent.com/3010752/145240618-cae8a056-154e-4092-be95-be7c76532354.png)

[2021-12-08 16:17] tuwukee commented on #104
hi @deniciocode
you can check if the Redis adapter is connected manually in the rails console using smth like
[code]
Also indeed, please make sure that the tokens are sent to the controller with correct headers/cookie names.

[2021-12-08 17:05] deniciocode opened #105 "Highlight the usage and override of authorization"
[code]

It was hard to debug. This part of the documentation should be highlighted more.

[2021-12-08 17:08] deniciocode opened #106 "Highlight `cors` for header authorization in doc"
Only by allowing specific `headers` I was able to make an authorised request to the api.

[code]

[2021-12-08 17:12] deniciocode commented on #106
`max_age` is not needed.

[2021-12-08 17:16] deniciocode commented on #104
@tuwukee
It looks all good. This store works fine
![image](https://user-images.githubusercontent.com/3010752/145253305-14c2f81e-1dcd-4d05-b295-3f917ac3bfb8.png)
I think this issue can be closed.

[2021-12-13 12:22] #104 closed

[2021-12-13 12:26] tuwukee commented on #103
hi @deniciocode,
The gem only generates and stores the tokens, and makes lookups to fetch them from the incoming requests.
You should set the cookies via rails/or other tools.

[2021-12-13 16:28] #103 closed

[2022-01-11 13:30] rkcelestial opened #107 "Getting wrong number of arguments (given 1, expected 0)""
Hi,

Getting a wrong number of arguments  in `authorize_access_request!`

**Application controller:**
[code]

**CompaniesController**

[code]

Error:
[code]
**AuthController**
[code]

When I try to access companies, I'm getting errors.

URL: `localhost:3000/api/v1/companies`
Headers --- **Authorization**:   `Bearer + token`

Getting errors in companies controller `authorize_access_request!
`

[2022-01-18 19:28] guimas opened #108 "Get list of all sessions created"
Is there a way to get a list of all sessions created, with their refresh tokens and payloads?

I'm trying to make a admin dashboard for an web app I'm developing, and I'd like to be able to list all the sessions available. I know I can get a list of all refresh tokens available with
[code]
but I can't manage to get the tokens payload from there (it's where the user id is stored). One of the attrib

[2022-01-19 07:57] tuwukee commented on #108
hi @guimas

The storage keeps only Refresh and Access Tokens UIDs, the payloads are being stored on the client.
To connect users with their refresh tokens you can look into session namespaces https://github.com/tuwukee/jwt_sessions#sessions-namespace

[2022-01-19 14:47] guimas commented on #108
hi @tuwukee,

So you suggest I put the user id in the namespace identifier, is that correct?
And then with
[code]
I would be able to retrieve the info I need, since this gets all the tokens, independently of the namespace. Did I get it right?

Thanks!

[2022-01-20 17:36] guimas commented on #108
When I run ```JWTSessions::RefreshToken.all(nil, JWTSessions.token_store)```, the namespace property of the RefreshToken returned are always nil, independently from what you created the session with... is that a bug?

[2022-01-22 11:12] tuwukee commented on #108
hi @guimas

Looks like `RefreshToken.all` cannot properly init namespaced tokens, thanks for noticing, I'll prepare a fix for that.

[2022-01-22 17:27] guimas commented on #108
Hi @tuwukee,

I already made a fix, based on the key stored on redis... I'll make a pull request when I get back tomorrow

[2022-01-24 13:07] #108 closed

[2022-01-24 13:53] guimas commented on #108
Just a heads up, it seems that the 2.7.1 version published at RubyGems.org doesn't have the patch.

Thanks!

[2022-04-07 13:43] guimas opened #112 "Error flushing a session"
I'm having some problem when I'm trying to flush a session on a logout method I have in a Rails controller. As the example you give on the README, I try to flush it with
[code]
after a ``:authorize_access_request!`` on ``before_action``

The payload is ok, the authorization is successful, but ``flush_by_access_payload`` raises a ``JWTSessions::Errors::Unauthorized (Refresh token not found)`` excep

[2022-04-07 15:09] tuwukee commented on #112
hi @guimas

Did you use `refresh_by_access_allowed` flag?
I think the code in your example deletes the access token and fails when trying to delete the refresh token.
Please see
https://github.com/tuwukee/jwt_sessions#creating-a-session available options part and
https://github.com/tuwukee/jwt_sessions#flush-sessions for more info.

[2022-04-14 19:00] guimas commented on #112
hi @tuwukee

I was creating the session with a namespace. Without it, the `flush_by_access_payload` works.

Thanks again,

Guimas

[2022-04-14 19:00] #112 closed

[2022-08-26 10:31] vladimirtemnikov opened #113 "Not compatible with jwt (2.5.0)"
Hello, in latest `jwt` release there is no class `JWT::DefaultOptions`, looks like something internally changed.

[code]

[2022-08-26 11:16] tuwukee commented on #113
hi @vladimirtemnikov
thanks for the head up, I'll look into it.

[2022-08-26 13:08] tuwukee commented on #113
I've pushed 2.7.3 gem version, please let me know if the issue is still there after the update.

[2022-08-26 13:19] vladimirtemnikov commented on #113
@tuwukee such a fast response from you, I appreciate it!
I'll check soon  :)

[2022-08-30 07:00] floriandejonckheere opened #115 "Not compatible with redis-rb (5.0.1)"
Apparently `redis-rb` 5.0 introduces some breaking changes for this gem. I'm getting the following error:

[code]

After investigating, it looks like `redis-rb` 5.0 started to use [`redis-client`](https://github.com/redis-rb/redis-client), which enforces different rules regarding arguments. The call to `hmget` in [`redis_store_adapter.rb`](https://github.com/tuwukee/jwt_sessions/blob/main/lib/jwt_

[2022-08-31 04:56] tuwukee commented on #115
hi @floriandejonckheere,

thanks, I'll look into it.

[2022-08-31 13:23] tuwukee commented on #113
feel free to reopen if the issue persists

[2022-08-31 13:23] #113 closed

[2022-08-31 19:34] tuwukee commented on #115
hi @floriandejonckheere ,
it should be fixed with 2.7.4 version.
Please feel free to reopen if the issue persists.

[2022-08-31 19:34] #115 closed

[2022-09-01 11:51] floriandejonckheere commented on #115
@tuwukee Thanks!